@model IEnumerable<HaidersBooks.Models.Product>
<div class="row pb-3 backgroundWhite">

@foreach (var product in Model)
    {
    <div class="col-lg-3 col-md-6">
        <div class="row p-2">
            <div class="col-12  p-1" style="border: 3px solid #00BA8C; border-radius: 10px;">
                <div class="card" style="border:0px;">
                    <img src="@product.ImageUrl" />
                    <div class="pl-1">
                        <p class="card-title h5"><b style="color: #BA8C00">@product.Title</b></p>
                        <p style="color: #BA8C00">Author: <b style="color: #BA8C00">@product.Author</b></p>
                        <p style="color: #BA8C00">Isbn: <b style="color: #BA8C00">@product.ISBN</b></p>
                    </div>
                    <div style="padding-left:5px;">
                        <p>Price: <b class="">$ @product.ListPrice.ToString("0.00")</b></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
}
</div>